:host {
  display: block;
  height: 100vh; 
}

.main-container {
  display: flex;
  height: 100%;
}

/* 1. Sidebar */
.sidebar {
  width: 250px;
  background-color: #2c3e50; 
  color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
  text-align: center;
  margin-bottom: 30px;
  color: #3498db; 
}

.sidebar-nav {
  flex-grow: 1;
}

.nav-link {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s;
  border-left: 5px solid transparent;
}

.nav-link:hover {
  background-color: #34495e;
}


.nav-link.active {
  background-color: #34495e;
  border-left: 5px solid #3498db;
  font-weight: bold;
}

.logout {
  border-top: 1px solid #4a667d;
  margin-top: 20px;
}


.content-area {
  flex-grow: 1; 
  padding: 20px;
  overflow-y: auto; 
  background-color: #ecf0f1; 
}